
.container{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;

}

.searchContainer input:focus,
.searchContainer input{
  font-size: 20px;
  border: none;
  background-color:  aliceblue;
  border-color:  aliceblue;

}

.searchContainer{
  background-color: aliceblue;
  margin-left: 5px;
  padding: 10px;
  border-radius: 20px;
}
